/* 调整Logo大小 */
:root {
  --vp-nav-logo-height: 42px; /* 默认是30px */
}

/* 隐藏滚动条的同时仍能滚动 */
.scroll-container {
    overflow: auto; /* 启用滚动功能 */
    -ms-overflow-style: none; /* 适用于 Internet Explorer 和旧版 Edge */
    scrollbar-width: none; /* 适用于 Firefox */
}

/* Webkit 浏览器 */
.scroll-container::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}

/* 去除蓝色高亮 */
button, button:focus, button:active, button::-moz-focus-inner {
  outline: none !important;
  box-shadow: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

/* 进一步去除按钮点击后的高亮（移动端和Webkit） */
button, button:focus, button:active,
input[type="button"], input[type="button"]:focus, input[type="button"]:active,
input[type="submit"], input[type="submit"]:focus, input[type="submit"]:active,
input[type="reset"], input[type="reset"]:focus, input[type="reset"]:active,
textarea:focus, [tabindex]:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* 对a标签按钮也生效 */
a, a:focus, a:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}